// AGPLv3+
body {
	background-color: #ffded6;
}

#sectiona {
	background-color: #FF5C33;
	color: #FF5C33;
}

#sectionb {
	background-color: #33D6FF;
	color: #33D6FF;
}

#sectionc {
	background-color: #33FF5C;
	color: #33FF5C;
}

.uppercase {
	text-transform: uppercase;
}
